.sect4 {
    width: 100%;
    background-color: #F67E7E;
    background-image: url(../img/sect4back.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 76px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sect4-main {
    
    h2 {
        height: 48px;
        width: 504px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #012F34;

    }
}
.sect4-btn{
    width: 153px;
    height: 48px;
    border: 1px solid #012F34;
    border-radius: 50px;
    background-color: transparent;
    transition: 0.5s;
    a{
        color: #012F34;
        width: 100%;
        height: 100%;
        text-decoration: none;
        background-color: transparent;
    }

}
.sect4-btn:hover{
    background-color: #79C8C7;
    a{
        color: #012F34;
    }
}


@media (max-width:1080px){
    .sect4{
        justify-content: center;
        .sect4-btn{
            margin-top: 50px;
        }
    }
}

@media (max-width:521px){
    .sect4{
        padding: 30px 10px;
        height: 302px;
        .sect4-main{
            h2{
                width: 300px;
                font-size: 32px;
                text-align: center;
            }
        }
    }
}
@media (max-width:368px){
    .sect4{
        padding: 30px 20px;
        height: 302px;
        .sect4-main{
            h2{
                width: 250px;
                font-size: 26px;
                text-align: center;
            }
        }
        .sect4-btn{
            margin-bottom: 70px;
        }
        
    }
}